@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&family=Reenie+Beanie&family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* transition: all ease-in-out 150ms; */
}

:root {
  --text-white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}

body {
  color: var(--text-white);
  font-size: 1.8rem;
  background-color: #17181a;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 6.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
}

h2 {
  font-family: 'DM Serif Text', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 62px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.text-bold {
  font-weight: 700;
}

.main-background {
  background-image: url(img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; media query */
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #2c2c2c50;
}

@media (max-width: 768px) {
  .links {
    display: none;
    border: 1px solid white;
  }
}

.logo-section {
  display: flex;
  align-items: center;
  margin: 3.5em 1em 0.5em;
}

.logo-image {
  width: 25%;
  padding-right: 1em;
}

.name-image {
  width: 60%;
}

.language {
  display: flex;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  height: 6rem;
  align-items: center;
}

.v-sign {
  position: absolute;
  top: 6rem;
  right: 1.7rem;
  width: 9px;
  height: 5px;
  cursor: pointer;
}

.v-sign:hover {
  transform: scale(1.5);
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  font-family: 'Roboto Condensed', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
}

a:hover {
  color: red;
}

.heading {
  padding: 1em 1em;
}

.heading h1 {
  padding-bottom: 0.5em;
}

.shop-online {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 25rem;
  right: -1px;
  width: 8rem;
  height: 18rem;
  position: fixed;
  background-color: #fff;
  border-radius: 25px 0 25px 0;
  z-index: 1;
}

.shop-online img {
  display: inline-block;
  width: 38px;
  padding-top: 1.5em;
}

.shop-online p {
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', serif;
  color: #fff;
  text-transform: uppercase;
  background-color: red;
  text-align: center;
  border-radius: 25px 0 25px 0;
  padding: 11px 12px;
}

.quality_marks-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quality_mark {
  width: 203px;
  height: 203px;
  background-color: rgba(196, 196, 196, 0.1);
  margin: 0.5em 1em;
  justify-content: center;
  text-align: center;
  border-radius: 25px 0px;
  backdrop-filter: blur(10px);
}

.quality_mark img {
  margin-top: 1.3em;
}

.subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 18px 20px;
  /* padding-top: 10px; */
  line-height: 19px;
}

.subtitle span {
  font-weight: 700;
}

.golden-corner {
  position: absolute;
  width: 23px;
  height: 68px;
  border-radius: 25px 0px;
  background: linear-gradient(180deg, #c5ac7b 0%, #efce8e 34.17%, #dfb05b 100%);
}

.wooden_background {
  /* padding: 1em 1em; */
  background-image: url(img/wooden-table-with-dark-smoky\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.part2-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part2-image {
  text-align: center;
}

.part2-image img {
  width: 90%;
}

.part2-title {
  padding: 1em 1em;
}

.part2-title h2 {
  font-family: 'DM Serif Text', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  text-align: center;
}

.part2-title h4 {
  font-family: 'Roboto Condensed', serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.part2-title p {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 24px;
  text-align: center;
}

.part2-title a {
  font-family: 'Roboto Condensed', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.25em;
}

.part2-more_info {
  padding: 2em 0;
  text-align: center;
}

.part2-more_info img {
  width: 30px;
}

.specialties-title h1 {
  font-family: 'DM Serif Display,serif';
  font-size: 3.9rem;
  text-align: center;
  padding: 1em 0;
}

.specialties-title img {
  position: relative;
  top: -0.7em;
  left: -0.1em;
  width: 8%;
}

.card-name {
  position: absolute;
  width: 100vw;
  bottom: -0.1em;
  background: #17181a;
  opacity: 0.5;
  padding-left: 1em;
}

.card-name h2 {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
}

.card-name img {
  width: 8%;
}

.card-name a {
  text-transform: uppercase;
}

.arrow-red {
  display: flex;
  position: relative;
  left: 13em;
  cursor: pointer;
  margin-bottom: 1em;
}

.paralax-section {
  background-image: url(img/part3-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.paralax {
  padding: 1em 1em;
}

.paralax h1 {
  padding-top: 1em;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.paralax h4 {
  padding-top: 5em;
  font-family: 'Roboto Condensed', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.paralax .accent {
  padding-top: 0;
  font-size: 4.8rem;
}

.paralax .accent img {
  position: relative;
  top: -0.4em;
  /* right: -0.1em; */
  width: 8%;
}

.paralax-bottom-text {
  margin: 2em 0;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}

.bottom-line {
  position: relative;
  width: 70%;
  left: 2.7em;
}

.guys-section {
  background-image: url(img/Group\ 871.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  object-fit: contain;
  object-position: bottom;
}

.footer {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  background-color: #17181a;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer p {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  padding-top: 1em;
  opacity: 0.5;
  text-align: center;
}

.footer .logo-section {
  margin: 2em 0;
}

.quality-signs {
  display: flex;
  justify-content: center;
}

.quality-signs img {
  width: 10vh;
  margin: 0 1em;
}

footer {
  background-color: #17181a;
  padding: 1.5em 1em 0.5em 1em;
}

footer p {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  line-height: 16px;
}
